.imgwrap img{
  width: 100%;
}

.imgwrap{
  overflow: hidden;
}

.row.no-gutter [class*="col"]{
  padding-left: 0;
  padding-right: 0;
}

.fancy-checkbox{
  background: #258294;
  color: white;
  font-weight: bold;
  padding: 6px;
  display: inline-block;
  width: 200px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.videoItem{
  height: 300px;
  background: black;
}

.videoItem .thumbnail{
  border: thin solid #999;
  width: 100%;
  height: 150px;
}

.videoItem .thumbnail img{
  width: 100%;
}


.videoItem-enter {
  opacity: 0.01;
  transition: opacity .3s ease-out;
}

.videoItem-enter.videoItem-enter-active {
  opacity: 1;
}

.videoItem-leave {
  opacity: 1;
  transition: opacity .2s ease-out;
}

.videoItem-leave.videoItem-leave-active {
  opacity: 0.01;
}


/* video viewer */

.videoPlayer{
  margin-bottom: 2.0em;
}

.videoPlayer.empty{
  display: none;
}
