
.fancy-checkbox{
  background: #258294;
  color: white;
  font-weight: bold;
  padding: 6px;
  display: inline-block;
  width: 200px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.videoItem{
  height: 280px;
}

.videoItem .thumbnail{
  border: thin solid #999;
  width: 100%;
  height: 150px;
}

.videoItem .thumbnail img{
  width: 100%;
}


.videoItem-enter {
  opacity: 0.01;
  transition: opacity .3s ease-out;
}

.videoItem-enter.videoItem-enter-active {
  opacity: 1;
}

.videoItem-leave {
  opacity: 1;
  transition: opacity .2s ease-out;
}

.videoItem-leave.videoItem-leave-active {
  opacity: 0.01;
}


/* video viewer */

.videoViewer{
  margin-bottom: 2.0em;
}

.videoViewer.empty{
  display: none;
}
